 {%  load static %}
    <section class="chooseus spad">
        <div class="chooseus__video set-bg">
                <img src="https://felinefineclothing.com/rookiecards/choose.png">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="chooseus__text">
                        <div class="section-title">
                            <h2>Why you need to get a Lebron James Rookie Card</h2>
                        </div>
                        <ul>
                            <li><i class="fa fa-circle"></i> The most expensive Lebron James rookie card recently sold for $1.87 million dollars.</li>
                            <li><i class="fa fa-circle"></i> He is arguably the greatest to play the game and the most popular athlete of all time. 
                            </li>
                            <li><i class="fa fa-circle"></i> Sports cards are back and the market is booming!
                            </li>
                            <li><i class="fa fa-circle"></i> We got you covered on all the data you need.</li>
                        </ul>
                        <a href="{% url 'slugss' %}" class="primary-btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>