{%  load static %}
    <footer class="footer set-bg" data-setbg=" /static/img/mainhero.jpg" style="opacity: 100%">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Get a Lebron James Rookie Card Now!</h2>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item" style="background-color:#552583; color:#fce04e"><i class="fa fa-shopping-cart" style="color:#fce04e"></i><a href="{% url 'slugss' %}" class="button" style="color: #fce04e">Shop Now</a></div>
                          
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src=" {% static 'img/logo3.png' %} " alt=""></a>
                        </div>
                        <p>Follow us today! We got All Rookie Cards covered.</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-instagram"></i></a>

                        </div>
                        <div class="footer__logo" id="cryptodonate-wallet">
                            <a href=""><img src="https://felinefineclothing.com/rookiecards/arc_footer_logo_white.png" alt=""></a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Pages</h5>
                        <ul>
                            <li><a href="{% url 'slugss' %}"><i class="fa fa-angle-right"></i> Rookie Cards</a></li>
                            <li><a href="{% url 'blog' %}"><i class="fa fa-angle-right"></i> Blog</a></li>
                            <li><a href="{% url 'slugss' %}"><i class="fa fa-angle-right"></i>Shop</a></li>
                            <li><a href="{% url 'index' %}"><i class="fa fa-angle-right"></i>Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Rookie Cards</h5>
                        <ul> 
                            {% for Cardpost in finkles %}<li><a href="{{ Cardpost.get_absolute_url }}"><i class="fa fa-angle-right"></i>{{Cardpost.title}}</a></li>
                        {%  endfor %} 
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Top Blog Posts</h5>
                        <ul>
                            {% for post in finkle %}<li><a href="{{ post.get_absolute_url }}"><i class="fa fa-angle-right"></i>{{post.title}}</a></li>
                        {%  endfor %}
                        </ul>
                    </div>
                </div>
                
            </div>
            
            <div class="footer__copyright__text">
                <p>Copyright &copy; 2020 All rights reserved
            </div>
          
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/jquery.nice-select.min.js' %} "></script>
    <script src=" {% static 'js/jquery-ui.min.js' %} "></script>
    <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'js/mixitup.min.js' %} "></script>
    <script src=" {% static 'js/jquery.slicknav.js' %} "></script>
    <script src=" {% static 'js/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'js/main.js' %} "></script>

</body>

</html>
