{% extends 'lebronsite/basee.html' %}
{% block head %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lebron James Rookie Card | Everything you need to know</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/elegant-icons.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/nice-select.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/jquery-ui.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/slicknav.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href=" {% static './index.html' %} "><img src=" {% static 'img/logo.png' %} " alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+12) 345 678 910</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href=" {% static './index.html' %} "><img src=" {% static 'img/logo.png' %} " alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href=" {% static './index.html' %} ">Home</a></li>
                                <li><a href=" {% static './car.html' %} ">Cars</a></li>
                                <li><a href=" {% static './blog.html' %} ">Blog</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href=" {% static './about.html' %} ">About Us</a></li>
                                        <li><a href=" {% static './car-details.html' %} ">Car Details</a></li>
                                        <li><a href=" {% static './blog-details.html' %} ">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href=" {% static './about.html' %} ">About</a></li>
                                <li><a href=" {% static './contact.html' %} ">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__widget">
                            <div class="header__nav__widget__btn">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                            </div>
                            <a href="#" class="primary-btn">Add Car</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>

{% endblock %}