<section class="services spad">
        <div class="container" id="services">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Services</span>
                        <h2>What We Offer</h2>
                        <p>The #1 Resource for Lebron James Rookie Cards</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-graduation-cap fa-4x" aria-hidden="true" style="color:#552583"></i>
                        <h5>Education</h5>
                        <p>Learn everything to know about over 95 different Lebron rookie card variations</p>
                        <a href="#education"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-line-chart fa-4x" aria-hidden="true" style="color:#552583"></i>
                        <h5>Market Data</h5>
                        <p>Population reports and stats like sales and transaction volume</p>
                        <a href="#marketdata"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-tags fa-4x" aria-hidden="true" style="color:#552583"></i>
                        <h5>Best Deals</h5>
                        <p>All the rookie cards available online organized in one place</p>
                        <a href="#bestdeals"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-bell fa-4x" aria-hidden="true" style="color:#552583"></i>
                        <h5>Alerts</h5>
                        <p>Get all the latest sales, stats, and news free sent to your email</p>
                        <a href="#alerts"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>